In [3]:
 # Enable autoreload and import libraries
%load_ext autoreload
%autoreload 2

import pandas as pd
import geopandas as gpd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

# Load configuration
data_dir = None
%run ../../config.py

df = pd.read_parquet(data_dir/'merged_2022.parquet')

df.head()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
Project root: /Users/eric/proj/scratch/WirelessIncome
Data directory: /Users/eric/proj/scratch/WirelessIncome/data

,GEOID,avg_d_kbps_fixed,avg_d_kbps_mobile,tests_fixed,tests_mobile,NAME_x,population,acs_year,state,county,...,NAME_y,population_total,population_urban,population_rural,urban_share,rural_share,is_urban,is_rural,is_metro,mean_commute_minutes
0,01001020100,198218.097274,73227.430357,513.0,35.0,Census Tract 201; Autauga County; Alabama,1865,2022,01,001,...,"Census Tract 201, Autauga County, Alabama",1775.0,76.0,1376.0,0.042817,0.775211,False,True,False,19.3
1,01001020200,229213.872727,40949.616667,304.0,25.0,Census Tract 202; Autauga County; Alabama,1861,2022,01,001,...,"Census Tract 202, Autauga County, Alabama",2055.0,43.0,834.0,0.020925,0.405839,False,True,False,25.9
2,01001020300,243372.740896,128294.737500,375.0,67.0,Census Tract 203; Autauga County; Alabama,3492,2022,01,001,...,"Census Tract 203, Autauga County, Alabama",3216.0,100.0,2220.0,0.031095,0.690299,False,True,False,27.0
3,01001020400,199444.351471,120218.070833,649.0,40.0,Census Tract 204; Autauga County; Alabama,3987,2022,01,001,...,"Census Tract 204, Autauga County, Alabama",4246.0,158.0,3522.0,0.037211,0.829487,False,True,False,23.0
4,01001020501,240464.220486,96485.661310,954.0,60.0,Census Tract 205.01; Autauga County; Alabama,4121,2022,01,001,...,"Census Tract 205.01, Autauga County, Alabama",4322.0,156.0,3211.0,0.036094,0.742943,False,True,False,20.9

In [10]:
# Average download speeds by urban/rural classification
t = df.groupby('is_urban').agg({
    'avg_d_kbps_fixed': 'mean',
    'avg_d_kbps_mobile': 'mean'
}).round(2)

t.columns = ['Fixed Avg Download (mbps)', 'Mobile Avg Download (mbps)']
(t/1000).round()

          Fixed Avg Download (mbps)  Mobile Avg Download (mbps)
is_urban
False                         200.0                       127.0
True                          228.0                       141.0

In [11]:
# Average download speeds by urban/rural classification
t = (
    df.groupby("is_metro")
    .agg({"avg_d_kbps_fixed": "mean", "avg_d_kbps_mobile": "mean"})
    .round(2)
)

t.columns = ["Fixed Avg Download (mbps)", "Mobile Avg Download (mbps)"]
(t / 1000).round()

          Fixed Avg Download (mbps)  Mobile Avg Download (mbps)
is_metro
False                         203.0                       128.0